services:
  zookeeper:
    image: wurstmeister/zookeeper
    container_name: zookeeper
    ports:
      - "2181:2181"

  kafka:
    image: wurstmeister/kafka
    container_name: kafka
    ports:
      - "9092:9092"
    environment:
      #KAFKA_ADVERTISED_HOST_NAME: localhost
      KAFKA_ADVERTISED_LISTENERS: PLAINTEXT://kafka:9092
      KAFKA_LISTENERS: PLAINTEXT://0.0.0.0:9092
      KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: 1
      KAFKA_ZOOKEEPER_CONNECT: zookeeper:2181

  kafka-ui:
    image: provectuslabs/kafka-ui:latest
    container_name: kafka-ui
    ports:
      - "8080:8080"
    environment:
      KAFKA_CLUSTERS_0_NAME: local
      KAFKA_CLUSTERS_0_BOOTSTRAPSERVERS: kafka:9092
      KAFKA_CLUSTERS_0_ZOOKEEPER: zookeeper:2181
    depends_on:
      - kafka

  mysql:
    image: mysql:latest
    restart: always
    environment:
      MYSQL_DATABASE: comments_db
      MYSQL_ROOT_PASSWORD: 123456
      MYSQL_USER: user
      MYSQL_PASSWORD: 123456
    ports:
      - "3306:3306"

  postgres:
    image: postgres:latest
    restart: always
    environment:
      POSTGRES_DB: posts_db
      POSTGRES_USER: user
      POSTGRES_PASSWORD: 123456
    ports:
      - "5435:5432"

  kafka-connect:
    image: confluentinc/cp-kafka-connect-base:latest
    volumes:
      - ./kafka_connect_data:/var/lib/kafka-connect
    restart: always
    depends_on:
      - kafka
      - mysql
      - postgres
    ports:
      - 8083:8083
    environment:
      CONNECT_BOOTSTRAP_SERVERS: "kafka:9092"
      CONNECT_REST_PORT: 8083
      CONNECT_GROUP_ID: kafka-connect
      CONNECT_CONFIG_STORAGE_TOPIC: _connect-configs
      CONNECT_OFFSET_STORAGE_TOPIC: _connect-offsets
      CONNECT_STATUS_STORAGE_TOPIC: _connect-status
      CONNECT_KEY_CONVERTER: org.apache.kafka.connect.storage.StringConverter
      CONNECT_VALUE_CONVERTER: org.apache.kafka.connect.json.JsonConverter
      CONNECT_INTERNAL_KEY_CONVERTER: "org.apache.kafka.connect.json.JsonConverter"
      CONNECT_INTERNAL_VALUE_CONVERTER: "org.apache.kafka.connect.json.JsonConverter"
      CONNECT_CONFIG_STORAGE_REPLICATION_FACTOR: 1
      CONNECT_OFFSET_STORAGE_REPLICATION_FACTOR: 1
      CONNECT_STATUS_STORAGE_REPLICATION_FACTOR: 1
      CONNECT_PLUGIN_PATH: /usr/share/java,/usr/share/confluent-hub-components,/data/connect-jars,/etc/kafka-connect/jars
      CONNECT_REST_ADVERTISED_HOST_NAME: "kafka-connect"
    command:
      - bash
      - -c
      - |
        echo "Installing Connector"
        confluent-hub install debezium/debezium-connector-mysql:latest --no-prompt
        confluent-hub install confluentinc/kafka-connect-jdbc:latest --no-prompt
        #
        echo "Launching Kafka Connect worker"
        /etc/confluent/docker/run &
        #
        sleep infinity

  php:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: php-kafka
    volumes:
      - ./app:/var/www/html
    working_dir: /var/www/html
    tty: true
    depends_on:
      - kafka
      - mysql
      - postgres

  posts:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: php-posts
    volumes:
      - .:/var/www/html
    working_dir: /var/www/html
    tty: true
    depends_on:
      - kafka
      - mysql
      - postgres

  comments:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: php-comments
    volumes:
      - .:/var/www/html
    working_dir: /var/www/html
    tty: true
    depends_on:
      - kafka
      - mysql
      - postgres

volumes:
  kafka_connect_data: